package config

const (
        // Set the following to your AppEngine project ID (name).
	//ProjectID = "app-name"

        // Set the following to the path of your project.
	//Path      = "/home/..."
)
